    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Sign up for Manatee Updates</h1>
                </div>
            </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form role="form" action="//lovemanatee.us12.list-manage.com/subscribe/post?u=7714e237942feab4dcc2a347c&amp;id=02301ad22c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" value="" class="form-control" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7714e237942feab4dcc2a347c_02301ad22c" tabindex="-1" value=""></div>
                            <span class="input-group-btn"><input class="btn btn-success" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </span>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
