<html><head>
    <title>LoveManatee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>
  <body>
    
    <div class="cover">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{site.url}}"><span>LoveManatee</span></a>
                </div>
            </div>
        </div>
    <div class="cover-image" style="background-image : url('http://i.imgur.com/mpA0D.jpg')"></div><div class="container"> <div class="row"> <div class="col-md-12 text-center"> <h1>LoveManatee</h1> <p>Learn to love our gentle neighbors</p><br><br><a href="#mce-EMAIL" class="btn btn-lg btn-default">Sign up for Manatee Updates<br></a> </div></div></div></div>
    <div class="section">
      <div class="container">
          {{content}}
      </div>
    {% include mailchimp.html %}
    
  
{% include ga.html %}

</body>
</html>